myenv/
myflean/
# Python
*.pyc
__pycache__/
.Python
env/
venv/
.env
.flaskenv

# .gitignore
**/__pycache__/
*.pyc


# Flask instance folder
instance/

# Database
*.sqlite3
*.db

# Testing
.pytest_cache/
.coverage
htmlcov/

# Distribution and packaging
dist/
build/
*.egg-info/

# Editor-specific files (optional)
.vscode/
.idea/
*.swp
*~
# Python caches
__pycache__/
*.pyc

__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
myenv/
.venv/
*.egg-info/
.DS_Store
